name: GitHub Pages Build

on:
  push:
    branches:
      - main

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'

      - name: Install dependencies
        run: |
          gem install bundler
          bundle install || true

      - name: Build site with Jekyll
        run: |
          bundle exec jekyll build

      - name: Upload site
        uses: actions/upload-artifact@v3.1.2
        with:
          name: site
          path: _site
